.page-wrapper .page-body-wrapper{
    .page-body{
        padding:  0 !important;
    }
    .page-header{
        padding-top: 15px !important;
        padding-bottom: 15px !important;        
    }
}
.m-t-80{
    margin-top: 80px;
}
.page-header{
    height: calc(100vh - 125px);
}