<!-- footer start-->
<div class="container-fluid">
  <div class="row">
    <div class="col-md-12 footer-copyright">
      <p class="mb-0">Copyright © 2021 Powered by <a href="javascript:void(0)">Patria Securus Solutions.</a> and <a class="linkFontWhite" href="http://www.cyphysignals.com/"  target="_blank">CyPhySignals India Pvt Ltd.</a>
        All rights reserved.</p>
    </div>
    <!-- <div class="col-md-6">
      <p class="pull-right mb-0">Hand crafted & made with<i class="fa fa-heart"></i></p>
    </div> -->
  </div>
</div>