.dashboard-container .card{
    // height: calc(100vh - 450px);
    .card-header{
        color: #4466f2;
    }
}

:fullscreen {
    .dashboard-container .card{
        height: calc(100vh - 520px) !important;
    }
    .modal-body .card{
        height: auto !important;
    }
}
.new-users .media{
    margin-bottom: 5px !important;
    margin-right: 5px !important;
    .gradient-round{
        position: relative;
        width: 30px;
        height: 30px;
        border-radius: 100%;
        text-align: center;
        font-size: 18px;
        border: 2px solid;        
    }
    .pull-right span{
        margin-top: 4px !important;
    }
}

.whiteList{
    background-image: linear-gradient(#40bf80, #5ff3ba);
    border-color: silver !important;
    color: #ffffff;
}

.blackList{
    background-image: linear-gradient(#000203, #000000);
    border-color: silver !important;
    color: #ffffff;
}

.redList{
    background-image: linear-gradient(#ffb84d, #ff9900);
    border-color: silver !important;
    color: #ffffff;
}
.notAllowedList{
    background-image: linear-gradient(#ff6666, #ec4b4b);
    border-color: silver !important;
    color: #ffffff;
}
.video-container {
    padding: 7% 0; 
}
:fullscreen {
    .video-container{
        padding: 5% 0;
    }
}

.snapshot-image{
    
}

.modal-body .card{
    height: auto;
}
