<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12 col-lg-12 col-xl-12">
            <div class="card">
                <div class="card-header card-header-border">
                    <div class="row">
                        <div class="col">
                            <h5>Vehicle Movement</h5>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-4">
                            <div class="p-2 animate-chk">
                                <div class="row">
                                    <div class="">
                                        <label class="d-inline p-l-10" for="todays">
                                            <input class="radio_animated" id="todays" value="todays"
                                                (click)="onClickTypeChange('todays')" [(ngModel)]="selectedTypeofList"
                                                type="radio" name="rdo-ani" checked>
                                            Today's
                                        </label>
                                        <label class="d-inline p-l-10" for="byDate" (click)="showDatepicker = true">
                                            <input class="radio_animated" id="byDate"
                                                (click)="onClickTypeChange('byDate')" value="byDate"
                                                [(ngModel)]="selectedTypeofList" type="radio" name="rdo-ani">
                                            By date <span class="badge badge-info"><i
                                                    class="icofont icofont-calendar"></i></span>
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="card-body mutliple-datepicker"
                                *ngIf="selectedTypeofList == 'byDate' && showDatepicker">
                                <div class="row">
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label class="col-form-label">From date & time</label>
                                            <div class="">
                                                <input class="form-control digits" placeholder="DD-MM-YYYY HH:MM" type="datetime-local"
                                                format-value="dd-MM-yyyyTHH:mm" value="2018-01-19T18:45" [(ngModel)]="fromDate"
                                                    (change)="onDateTimeModified()">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label class="col-form-label">To date & time</label>
                                            <div class="">
                                                <input class="form-control digits" placeholder="DD-MM-YYYY HH:MM" type="datetime-local"
                                                format-value="dd-MM-yyyyTHH:mm" value="2018-01-19T18:45" [(ngModel)]="toDate"
                                                    (change)="onDateTimeModified()">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4 m-t-10">
                            <span *ngIf="selectedDate.fromDate && selectedDate.toDate" class="f-14"><span
                                    class="f-w-600">From:</span> {{selectedDate.fromDate}} <span
                                    class="f-w-600">To:</span> {{selectedDate.toDate}}</span>
                        </div>
                        <div class="col-sm-4">
                            <div class="pull-right right-header">
                                <input type='text' class="filter-ngx form-control" [(ngModel)]="filterTerm" placeholder='Type to search...' (change)="page = 1" (ngModelChange)="page = 1"/>
                                <button [disabled]="!vehicleMovementList.length" placement="top" ngbtooltip="Download as PDF" type="button" (click)="downloadDataAsPdf()" class="btn btn-primary mr-1 m-l-10">
                                    <i class="fa fa-download f-14"></i>                  
                                </button> 
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-block row">
                    <div class="col-sm-12 col-lg-12 col-xl-12">
                        <div class="table-responsive">
                            <table class="table">
                                <thead class="thead-dark">
                                    <tr>                                        
                                        <th scope="col">Number</th>
                                        <th scope="col">Type</th>
                                        <th scope="col"></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr
                                        *ngFor="let vehicleMovementLists of vehicleMovementList | filter: filterTerm | slice: (page-1) * pageSize : page * pageSize"
                                                [ngClass] = "{'rowhighlight' : vehicleMovementLists.id == selectedEventData.id}">
                                        <td class="f-w-600" (click)="openViewDetailsModal(detailsContenet, vehicleMovementLists, 'viewDetail')">
                                            {{commonUIComponent.vehicleNumberFormatter(vehicleMovementLists.vehicleNumber)}}
                                        </td>
                                        <td (click)="openViewDetailsModal(detailsContenet, vehicleMovementLists, 'viewDetail')">
                                            {{commonUIComponent.removeUnderscores(vehicleMovementLists.vehicleType)}}
                                        </td>
                                        <td>
                                            <button *ngIf="vehicleMovementLists.imagePath" placement="top"
                                                ngbtooltip="snapshot" type="button"
                                                class="btn btn-primary btn-xs btn-pill btn-air-primary m-r-5"
                                                (click)="openSnapshotModal(snapshotContenet, vehicleMovementLists.imagePath, vehicleMovementLists.vehicleNumber, vehicleMovementLists.vehicleType)">
                                                <i class="fa fa-image f-22"></i>
                                            </button>
                                        </td>
                                    </tr>
                                    <tr class="NoDataAvailable" *ngIf="!vehicleMovementList.length">
                                        <td colspan="4" class="text-center">No Data Found.</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="pagination-top p-2" *ngIf="vehicleMovementList.length">
                            <ngb-pagination [collectionSize]="vehicleMovementList.length" [pageSize]="pageSize"
                                [(page)]="page" [maxSize]="5" [rotate]="true" [boundaryLinks]="true"></ngb-pagination>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- View Details modal -->
<ng-template #detailsContenet let-c="close" let-d="dismiss">
    <div class="modal-header bg-primary">
      <h4 class="modal-title" id="modal-basic-title">Vehicle Details</h4>
      <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <div class="row">
        <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6" style="align-items: center;justify-content: center;">
          <div class="shadow-sm shadow-showcase p-20 snapshot-image">
            <img [src]="selectedEventData.snapshotPath" alt="snapshot-image" width="100%" height="30%"
              draggable="false" />
          </div>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6">
          <div class="card">
            <form class="needs-validation" (ngSubmit)="onSaveCorrectedVehicleData()" novalidate>
              <div class="card-body">
                <div class="row">
                  <div class="col">
                    <div class="form-group">
                      <label>Vehicle Number</label>
                      <input type="text" class="form-control" placeholder="Enter the vehicle number"
                      [formControl]="vehicleInfoForm.controls['vehicleNumber']" [(ngModel)]="selectedEventData.vehicleNumber" required>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col">
                    <div class="form-group">
                      <label>Vehicle Type</label>
                      <select class="form-control" [formControl]="vehicleInfoForm.controls['vehicleType']"
                        [(ngModel)]="selectedEventData.vehicleType" required>
                        <option disabled>-- Select type --</option>
                        <option value="MOTORCYCLE">MOTORCYCLE</option>
                        <option value="SUV">SUV</option>
                        <option value="SEDAN">SEDAN</option>
                        <option value="AUTO">AUTO</option>
                        <option value="PICKUP_TRUCK">PICKUP_TRUCK</option>
                        <option value="BIG_TRUCK">BIG_TRUCK</option>
                        <option value="VAN">VAN</option>
                        <option value="BUS">BUS</option>
                        <option value="UNKNOWN">UNKNOWN</option>
                      </select>
                    </div>
                  </div>
                </div>
              </div>
              <div class="card-footer">
                <button [disabled]="!vehicleInfoForm.valid"  type="submit" class="btn btn-primary mr-1">Submit</button>
                <!-- <input type="reset" class="btn btn-light" value="Cancel" (click)="onResetForm()"> -->
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </ng-template>

<!-- View snapshot modal -->
<ng-template #snapshotContenet let-c="close" let-d="dismiss">
    <div class="modal-header bg-primary">
        <h4 class="modal-title" id="modal-basic-title">{{commonUIComponent.vehicleNumberFormatter(selectedVehicleInfo.vehicleNumber)}}  
            - {{commonUIComponent.removeUnderscores(selectedVehicleInfo.vehicleType)}}</h4>
        <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <div class="row" style="align-items: center;justify-content: center;">
            <div class="shadow-sm shadow-showcase p-20 snapshot-image">
                <img [src]="selectedVehicleInfo.snapshotPath" alt="snapshot-image" width="100%" height="15%"
                    draggable="false" />
            </div>
        </div>
    </div>
</ng-template>

<!-- Vehicle Search list modal -->
<ng-template #vehicleSearchListContenet let-c="close" let-d="dismiss">
    <div class="modal-header bg-primary">
      <h4 class="modal-title" id="modal-basic-title">Vehicle Search </h4>
      <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <div class="row">
        <div class="col-sm-12 col-lg-12 col-xl-12">
          <div class="card">
            <div class="card-block row">
              <div class="col">
                <div class="table-responsive">
                  <table class="table">
                    <thead class="thead-dark">
                      <tr>
                        <th scope="col">Number</th>
                        <th scope="col">Owner Name</th>
                        <th scope="col">Address</th>
                        <th scope="col">Type</th>
                        <th scope="col">Category</th>
                        <th scope="col">Listing Type</th>
                        <th scope="col">Action</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let vehiclesListDatas of vehiclesListData | slice: (page-1) * pageSize : page * pageSize">
                        <td>
                          {{commonUIComponent.vehicleNumberFormatter(vehiclesListDatas.vehicleNumber)}}
                        </td>
                        <td>{{commonUIComponent.removeUnderscores(vehiclesListDatas.ownerName)}}
                        </td>
                        <td>{{vehiclesListDatas.address}}</td>
                        <td>
                          {{commonUIComponent.removeUnderscores(vehiclesListDatas.vehicleType)}}</td>
                        <td>
                          {{commonUIComponent.removeUnderscores(vehiclesListDatas.vehicleCategory)}}
                        </td>
                        <td
                            [ngStyle]="{'color' : vehiclesListDatas.vehicleListingType == 'WHITE_LISTED' ? '#5ff3ba' : vehiclesListDatas.vehicleListingType == 'NONE' ? '#ffb84d' : '#000000'}"
                            style="font-weight: 700;">
                          {{commonUIComponent.removeUnderscores(vehiclesListDatas.vehicleListingType)}}
                        </td>
                        <td>
                          <button type="button" class="btn btn-primary btn-xs btn-pill btn-air-primary"
                            (click)="onVehicleMovement(vehicleMovementContenet, vehiclesListDatas.vehicleNumber, vehiclesListDatas.vehicleType)"><i
                              placement="top" ngbtooltip="Vehicle movement" class="fa fa-history f-22"></i></button>
                        </td>
                      </tr>
                      <tr class="NoDataAvailable" *ngIf="!vehiclesListData.length">
                        <td colspan="7" class="text-center">No Data Found.</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
                <div class="pagination-top p-2" *ngIf="vehiclesListData.length">
                  <ngb-pagination [collectionSize]="vehiclesListData.length" [pageSize]="pageSize" [(page)]="page"
                    [maxSize]="5" [rotate]="true" [boundaryLinks]="true"></ngb-pagination>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
</ng-template>
  
  <!-- View vehicle movement modal -->
  <ng-template #vehicleMovementContenet let-c="close" let-d="dismiss">
    <div class="modal-header bg-primary">
      <h4 class="modal-title" id="modal-basic-title">Vehicle movements for
        {{commonUIComponent.vehicleNumberFormatter(selectedVehicleInfo.vehicleNumber)}}
        ( {{commonUIComponent.removeUnderscores(selectedVehicleInfo.vehicleType)}} )</h4>
      <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <div class="row">
        <div class="col-sm-12 col-lg-12 col-xl-12">
          <div class="card">
            <div class="card-header card-header-border">
              <div class="row">
                <div class="col-sm-4">
                  <div class="p-2 animate-chk">
                    <div class="row">
                      <div class="">
                        <label class="d-inline p-l-10" for="todays">
                          <input class="radio_animated" id="todays" value="todays" (click)="onClickTypeChange('todays')"
                            [(ngModel)]="selectedTypeofList" type="radio" name="rdo-ani" checked>
                          Last 10 movement
                        </label>
                        <label class="d-inline p-l-10" for="byDate" (click)="showDatepicker = true">
                          <input class="radio_animated" id="byDate" (click)="onClickTypeChange('byDate')" value="byDate"
                            [(ngModel)]="selectedTypeofList" type="radio" name="rdo-ani">
                          By date <span class="badge badge-info"><i class="icofont icofont-calendar"></i></span>
                        </label>
                      </div>
                    </div>
                  </div>
                  <div class="card-body mutliple-datepicker" *ngIf="selectedTypeofList == 'byDate' && showDatepicker">
                    <ngb-datepicker #dp (select)="onDateSelection($event)" [displayMonths]="2" [dayTemplate]="t"
                      outsideDays="hidden">
                    </ngb-datepicker>
                    <ng-template #t let-date let-focused="focused">
                      <span class="custom-day" [class.focused]="focused" [class.range]="isRange(date)"
                        [class.faded]="isHovered(date) || isInside(date)" (mouseenter)="hoveredDate = date"
                        (mouseleave)="hoveredDate = null">
                        {{ date.day }}
                      </span>
                    </ng-template>
                  </div>
                </div>
                <div class="col-sm-4 m-t-10">
                  <span *ngIf="selectedDate.fromDate && selectedDate.toDate" class="f-18"><span
                      class="f-w-600">From:</span> {{selectedDate.fromDate}} <span class="f-w-600">To:</span>
                    {{selectedDate.toDate}}</span>
                </div>
                <div class="col-sm-4">
                  <div class="pull-right right-header">
                    <input type='text' class="filter-ngx form-control" [(ngModel)]="vehiclesMovementFilterTerm"
                      placeholder='Type to search...' (change)="page = 1" (ngModelChange)="page = 1"/>
                  </div>
                </div>
              </div>
            </div>
            <div class="card-block row">
              <div class="col">
                <div class="table-responsive">
                  <table class="table">
                    <thead class="thead-dark">
                      <tr>
                        <th scope="col">Gate Name</th>
                        <th scope="col">Verification Type</th>
                        <th scope="col">Date & Time</th>
                        <th scope="col">Entry Status</th>
                        <th scope="col">Listing Type</th>
                        <th scope="col"></th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr
                        *ngFor="let vehicleMovementLists of vehicleMovementList | filter: vehiclesMovementFilterTerm | slice: (page-1) * pageSize : page * pageSize">
                        <td>{{vehicleMovementLists.gate.gateName}}</td>
                        <td>{{commonUIComponent.removeUnderscores(vehicleMovementLists.gate.vehicleVerificationType)}}
                        </td>
                        <td>{{vehicleMovementLists.vehicleEntryDate}} {{vehicleMovementLists.vehicleEntryTime}}</td>
                        <td>{{commonUIComponent.enumModifier(vehicleMovementLists.vehicleEntryStatus)}}</td>
                        <td
                          [ngStyle]="{'color' : vehicleMovementLists.vehicleListingType == 'WHITE_LISTED' ? '#5ff3ba' : vehicleMovementLists.vehicleListingType == 'NONE' ? '#ffb84d' : '#000000'}"
                          style="font-weight: 700;">
                          {{commonUIComponent.removeUnderscores(vehicleMovementLists.vehicleListingType)}}
                        </td>
                        <td>
                          <button *ngIf="vehicleMovementLists.imagePath" placement="top" ngbtooltip="snapshot"
                            type="button" class="btn btn-primary btn-xs btn-pill btn-air-primary m-r-5"
                            (click)="openSnapshotModal(searchsnapshotContenet, vehicleMovementLists.imagePath)">
                            <i class="fa fa-image f-22"></i>
                          </button>
                        </td>
                      </tr>
                      <tr class="NoDataAvailable" *ngIf="!vehicleMovementList.length">
                        <td colspan="6" class="text-center">No Data Found.</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
                <div class="pagination-top p-2" *ngIf="vehicleMovementList.length">
                  <ngb-pagination [collectionSize]="vehicleMovementList.length" [pageSize]="pageSize" [(page)]="page"
                    [maxSize]="5" [rotate]="true" [boundaryLinks]="true"></ngb-pagination>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </ng-template>